@font-face{
    font-family: 'Cain';
    src: url('../font/CAIN____.TTF');
}

@font-face{
    font-family: 'Eartp';
    src: url('../font/EARTP___.TTF');
}

@font-face{
    font-family: 'RoyalJelly';
    src: url('../font/ROYAL\ JELLY.ttf');
}

@font-face{
    font-family: 'Livvic';
    src: url('../font/Livvic-Regular.ttf');
}

@font-face{
    font-family: 'Abel';
    src: url('../font/Abel-Regular.ttf');
}