@import url('font.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /*  Theme colours  */
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-colour: #ecf0f3;
    --side-bg: #fcedd5;
    --hover-colour: #7BA69F;
    --white: #ffffff;
    --midnight: #104f55;


    /*  Gradient Colour  */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*  Theme font  */
    --Cain: 'Cain', cursive;
    --Eartp: 'Eartp', cursive;
    --RoyalJelly: 'RoyalJelly', cursive;
    --Livvic: 'Livvic', cursive;
    --Abel: 'Abel', cursive;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--Livvic);
    color: #555;
    background-color: var(--bg-colour);
}

/*  Global classes  */
a{
    text-decoration: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

/*  main classes  */
.container{
    width: 65%;
    height: 80%;
    padding: 3rem 2rem 2rem;
    border-radius: 2.2rem;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
}

.container-image #loginIMG{
    width: 90%;
}

.container .myForm{
    margin-left: 3rem;
    width: 43%;
}

.myForm h2{
    font-family: var(--Abel);
    letter-spacing: 3px;
    font-size: 3.2rem;
    text-align: center;
    margin-top: -1rem;
}

.myForm input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: rgb(126, 125, 125);
    padding: 1.2rem 0.6rem 1.2rem 0.3rem;
}

.myForm .username, .myForm .password{
    margin-top: 10%;
    border-radius: 2rem;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}

.myForm svg{
    height: 22px;
    margin: 0 10px -3px 25px;
}

.myForm .password{
    margin-bottom: 10%;
}

.myForm .btn{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--Livvic);
    color: #fff;
    text-align: center;
    background: var(--hover-colour);
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
}

.myForm .btn:hover{
    background: #98ccc3;
}

.myForm .extra-section{
    margin-top: 5rem;
    text-align: center;
    letter-spacing: .1rem;
}

.myForm .extra-section a{
    margin-top: 25px;
}

@media screen and (max-width: 1400px){
    .myForm input{
        font-size: 16px;
        padding: .9rem 0.6rem .9rem 0.3rem;
        width: 80%;
    }

    .myForm .btn{
        height: 40px;
    }

    .myForm .extra-section{
        margin-top: 2rem;
    }

    .container .myForm{
        margin-left: 0;
    }

    .container-image #loginIMG{
        width: 70%;
    }

    .myForm svg{
        margin: 0 .2rem -.2rem .5rem;
    }
}